@import "../../style/variables.scss";

.char {
    &__info {
        padding: 25px;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
        position: sticky;
        top: 25px;
        z-index: 5;
        background-color: #fff;
        &-name {
            font-weight: bold;
            font-size: 22px;
            line-height: 29px;
            text-transform: uppercase;
        }
        .skeleton {
            margin-top: 30px;
        }
    }
    &__basics {
        display: grid;
        grid-template-columns: 150px auto;
        column-gap: 25px;
        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
        }
    }
    &__btns {
        margin-top: 35px;
        a:nth-child(2) {
            margin-top: 10px;
        }
    }
    &__descr {
        margin-top: 15px;
        font-size: 14px;
        line-height: 18px;
    }
    &__accordion {
        margin-top: 10px;
        margin-left: 25px;
        font-weight: bold;
        font-size: 18px;
        border: none;
        outline: none;
        background-color: white;
        cursor: pointer;
        position: relative;
        &::before {
            border: medium solid transparent;
            content: "";
            position: absolute;
            height: 0;
            width: 0;
            border-color: #9f0013 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
            border-width: 12px;
            margin-left: -30px;
            margin-top: 7px;
            transition: all 1s ease-in-out;
        }
        &-opened {
            &::before {
                margin-left: -20px;
                transform: rotate(-45deg);
            }
        }
    }
    &__comics {
        transition: all 2s ease-in-out;
        &-list {
            position: relative;
            margin-top: 10px;
        }
        &-hiddenitem {
            display: flex;
            height: 0;
            opacity: 0;
            overflow: hidden;
            transition: all 1s ease-in-out;
        }
        &-item {
            overflow: hidden;
            height: 25px;
            transition: all 1s ease-in-out;
            padding: 0px 10px;
            line-height: 25px;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 10px;
        }
    }
    &__select {
        font-weight: bold;
        font-size: 18px;
        line-height: 24px;
        text-align: center;
    }
}
